
<div class="container my-5" *ngIf="product">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/products">Productos</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
      </ol>
    </nav>
  
    <!-- Product Details -->
    <div class="row">
      <!-- Product Image -->
      <div class="col-md-6">
        <img [src]="product.thumbnail" [alt]="product.title" class="img-fluid rounded shadow-sm" />
      </div>
  
      <!-- Product Info -->
      <div class="col-md-6">
        <h1 class="display-5">{{ product.title }}</h1>
        <p class="lead">{{ product.description }}</p>
        <h3 class="text-primary">{{ product.price | currency }}</h3>
  
        <!-- Action Buttons -->
        <div class="mt-4">
          <ios-buyproduct-button [product]="product!" ></ios-buyproduct-button>
          <button routerLink="/products" class="btn btn-secondary btn-lg">
            <i class="bi bi-arrow-left"></i> Go back to Products
          </button>
        </div>
      </div>
    </div>
  
    <!-- Product Description Section -->
    <div class="row mt-5">
      <div class="col-12">
        <h3>Bulletpoints</h3>
        <p>
          {{ product.description }}
        </p>
      </div>
    </div>
  </div>
  